@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", sans-serif;
    --fonte3: "Sriracha", cursive;
}

* {
    margin: 0px;
    padding: px;
    font-size: 1em;
}
/*
Responsável por colar a barra do HEADER nas laterais e parte superior
*/

html,body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
    /*
    text-transform: uppercase; (usando text-transform: uppercase (deixará a letra em CAIXA ALTA)
    font-size: 10vw; (10 % da VW ou VIEWPORT WIDTH, que significa que o texto se adaptará a largura da tela de acordo com o tamanho Não sendo necessário especificar a porcentagem %.
    */
}
/*
usando font-variant: samll-caps (deixará as letras em caixa alta, no entanto, as iniciais ficaram maiores.
*/

header > p {
    padding-bottom: 50px;
}

/*Adicionando um padding-top no H1 e um padding-bottom no P deixará o texto no centro do header*/

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}
/*
Caso necessite colocar link dentro do conteúdo é necessário que seja feito essa configuração na tag para que fique especificado as configurações direcionadas apenas as tags em questão assim livrando o conteúdo!
*/

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
    /*
Aqui em section é dado o espaço necessário da View Height (altura da página) para que seja lido da melhor forma
line-height: 2em; (É dado o espaço entre linhas)
padding-left: 30px; (É feito um afastamento da margin para direita, no caso, esquerda para a direita!
*/
}

section > p {
    
    padding-bottom: 2em;
    /*
    serve para da espaço no parágrafo
    */
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
    /*box-shadow: inset... (insere a borda na parte interna da imagem
    COVER informa ao navegador que ele deve se certificar de que a imagem cobrirá sempre o contêiner inteiro (nesse caso, todo o html ).
    
    PARALAX
    Ao final o efeito foi inserido com a tag:
    background-attachment:fixed; (fixando as imagens ao fundo da tela.
    */
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow:  1px 1px 0px black;
    /*
    Ao inserir a tag display:... o texto vai se trasformar numa caixa que se adapta ao tamanho do conteúdo.
    padding: 5px; (faz com que o texto não fique colado na caixa.
    */
}

section#img01 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;

    /*Dado a configuração rigth e center porque o conteúdo importante da imagem em questão está do lado direito e no centro da imagem*/
}

section#img02 {
    background-image: url(../imagens/background002.jpg);
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}